#pip install -r requirements.txt
fastapi>=0.116.0
uvicorn[standard]>=0.35.0

langchain>=0.3.27
langchain-community>=0.3.27
langchain-openai>=0.3.30

chromadb>=1.0.20

openai>=1.99.0

python-multipart>=0.0.20
psycopg2-binary>=2.9.10
redis>=6.4.0

pydantic>=2.11.0
pydantic-settings>=2.0.0

aiofiles>=24.1.0
python-dotenv>=1.1.1
requests>=2.32.5

sentence-transformers>=3.0.0

streamlit>=1.49.0

pypdf>=6.0.0
python-docx>=1.2.0
beautifulsoup4>=4.13.4
#pip install --upgrade pip
# python -m venv venv
#streamlit run streamlit_app.py
#python -m uvicorn app.main:app --host 127.0.0.1 --port 8000
#python run.py
#AQ.Ab8RN6Iha2lPQUjbRaHxFDcJtnqaCONJpx9jx6qNo7ohsNB7iw

# /Library/Frameworks/Python.framework/Versions/3.12/bin/python -m uvicorn app.main:app --host 127.0.0.1 --port 8000